body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);

}
h2 {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 10px;
    background: #464129;
    color: white;
}
.about {
    padding: 20px;

}

